<mat-card>
  <mat-card-content *ngIf="!(authService.user | async)">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput type="text" [(ngModel)]="email" placeholder="Email...." required>
        <mat-hint>Inserisci la mail</mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="resetPassword()" [disabled]="!email"> Reset </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
  <mat-error>
    <div class="error" *ngIf="authService.err">
      <h5 class="text-danger">{{ authService.err }}</h5>
    </div>
  </mat-error>
</mat-card>