<mat-card class="w-45 p-3" *ngIf="!(authService.user | async)">
  <mat-card-content>
    <div>
      <mat-card-title>Recupera la password</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput type="text" [(ngModel)]="email" placeholder="Email...." required>
        <mat-hint>Inserisci la mail</mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button (click)="resetPassword()" [disabled]="!email "> Reset </button>
      </mat-card-actions>
      <mat-error>
        <div class="error" *ngIf="authService.err">
          <h5 class="text-danger">{{ authService.err}}</h5>
        </div>
      </mat-error>
    </div>
  </mat-card-content>
</mat-card>