<mat-accordion>
  <mat-expansion-panel *ngFor="let collection of collections">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon (click)="removeCollection(collection)">delete</mat-icon>
        <mat-label>{{collection?.album?.name}}</mat-label>
        <mat-label class="fit">{{getCompletamento(collection)*100}}%</mat-label>
        <mat-progress-bar mode="determinate" value="{{getCompletamento(collection)*100}}"></mat-progress-bar>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let sticker of collection.stickers">
        <span class="code">{{sticker.code}}</span>
        <span class="description">{{sticker.description}} </span>
        <mat-icon class="add" *ngIf="checkMancante(sticker) || checkDoppione(sticker) || checkCelo(sticker)"
          (click)="increment(sticker,collection)"> add </mat-icon>
        <mat-icon class="remove" *ngIf="checkDoppione(sticker)" (click)="decrement(sticker,collection)">remove
        </mat-icon>
        <mat-icon class="unarchive" *ngIf="checkCelo(sticker)" (click)="reset(sticker, collection)">unarchive
        </mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>