<div>Raccolte</div>
<div *ngFor="let collection of collections">
  <span>{{collection.album.name}}</span>
  <ul>
    <li *ngFor="let sticker of collection.stickers">
      <span>{{sticker.code}}</span><span>{{sticker.description}} </span><span> {{sticker.quantity}}</span>
      <button *ngIf="checkMancante(sticker)" (click)="add(sticker)"> + </button>
      <div *ngIf="checkDoppione(sticker)">
        <button (click)="add(sticker)"> + </button>
        <button (click)="remove(sticker)"> - </button>
      </div>
      <div *ngIf="checkCelo(sticker)">
        <button (click)="add(sticker)"> + </button>
        <button (click)="reset(sticker,collection.album.id)"> M </button>
      </div>
    </li>
  </ul>
  <div>{{getCompletamento(collection)}}</div>
</div>