<div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-owned-tab" data-toggle="tab" href="#nav-owned" role="tab" aria-controls="nav-owned" aria-selected="true">Celo</a>
      <a class="nav-item nav-link" id="nav-missing-tab" data-toggle="tab" href="#nav-missing" role="tab" aria-controls="nav-missing" aria-selected="false">Mancolista</a>
      <a class="nav-item nav-link" id="nav-duplicates-tab" data-toggle="tab" href="#nav-duplicates" role="tab" aria-controls="nav-duplicates" aria-selected="false">Doppie</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-owned" role="tabpanel" aria-labelledby="nav-owned-tab">
      <div *ngIf="user">
        <span>Username : {{user.username}}</span>
        <div *ngFor="let collection of user.collections">
          <span>{{collection.album.name}} {{collection.album.year}}</span>
          <div *ngFor="let item of collection.ownedStickers">
            <ul>
              <li>Code: {{item.code}} - Quantity: {{item.quantity}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-missing" role="tabpanel" aria-labelledby="nav-missing-tab">
      <div *ngIf="user">
        <span>Username : {{user.username}}</span>
        <div *ngFor="let collection of user.collections">
          <span>{{collection.album.name}} {{collection.album.year}}</span>
          <div *ngFor="let item of collection.missingStickers">
            <ul>
              <li>Code: {{item.code}} - Quantity: {{item.quantity}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-duplicates" role="tabpanel" aria-labelledby="nav-duplicates-tab">
      <div *ngIf="user">
        <span>Username : {{user.username}}</span>
        <div *ngFor="let collection of user.collections">
          <span>{{collection.album.name}} {{collection.album.year}}</span>
          <div *ngFor="let item of collection.duplicateStickers">
            <ul>
              <li>Code: {{item.code}} - Quantity: {{item.quantity}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>