<div>
  <span>Album</span>
  <ul class="">
    <li *ngFor="let figurina of figurine">
      <span>{{figurina.id}}</span> {{figurina.descrizione}}
      <span class="remove" (click)="remove(figurina)">-</span>
      <input type="number" class="count" name="qty" value={{figurina.count}}>
      <span class="add" (click)="add(figurina)">+</span>
    </li>
  </ul>
</div>

<div>
  <span>celo</span>
  <ul class="">
    <li *ngFor="let figurina of celo">
      <span>{{figurina.id}}</span> {{figurina.descrizione}}
      <span class="remove" (click)="remove(figurina)">-</span>
      <input type="number" class="count hidden" name="qty" value={{figurina.count}}>
      <span class="add" (click)="add(figurina)">+</span>
    </li>
  </ul>
</div>

<div>
  <span>doppie</span>
  <ul class="">
    <li *ngFor="let figurina of doppie">
      <span>{{figurina.id}}</span> {{figurina.descrizione}}
      <span class="remove" (click)="remove(figurina)">-</span>
      <input type="number" class="count" name="qty" value={{figurina.count}}>
      <span class="add" (click)="add(figurina)">+</span>
    </li>
  </ul>
</div>