.fill-space {
    flex: 1 1 auto;
}

.title {
    cursor: pointer;
    width: fit-content;
}

mat-list-item {
    cursor: pointer;
}

mat-toolbar {
    z-index: 10;
}

mat-toolbar, mat-sidenav {
    position: fixed;
}

mat-nav-list {
    margin-top: 50px
}

router-outlet {
    display: none;
}

.content {
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
}