<div mat-dialog-container>
  <div mat-dialog-title>Nuova figurina</div>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="data.code" placeholder="Codice figurina...." required>
      <mat-hint>Inserisci il codice della figurina</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrizione</mat-label>
      <input matInput type="text" [(ngModel)]="data.description" placeholder="Descrizione figurina...." required>
      <mat-hint>Inserisci la descrizione della figurina</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Annulla</button>
    <button mat-raised-button [mat-dialog-close]="data" [disabled]="!data.code || !data.description">Aggiungi</button>
  </mat-dialog-actions>
</div>